@tailwind base;
@tailwind components;
@tailwind utilities;
@import-normalize;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb)); /* Set background color */
}

/* Add this CSS to your stylesheet, or create a separate CSS file */

/* Center the content vertically and horizontally */
.w-100.vh-100 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Style the table */
.table {
  width: 100%;
  max-width: 800px;
  border-collapse: collapse;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  background: #fff;
}

/* Style table headings */
.table th {
  background: #007bff;
  color: #fff;
  padding: 10px;
  text-align: left;
}

/* Style table rows */
.table tr:nth-child(even) {
  background: #f2f2f2;
}

/* Style table cells */
.table td {
  padding: 10px;
}

/* Style the button */
.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  margin: 10px;
}

/* Hover effect for buttons */
.btn-primary:hover {
  background-color: #0056b3;
}

.black-text{
  color: black;
}
/* globals.css or component-specific CSS */
.view-article-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 100% of the viewport height */
  width: 100vw; /* 100% of the viewport width */
  /* Remove margin and padding properties */
  margin: 0;
  padding: 0;
}


.view-article-content {
  max-width: 100%; /* Optional: To ensure the content doesn't exceed the viewport width */
  padding: 20px;   /* Optional: Add padding for spacing */
}

/* CSS for DataForm.js */

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  margin: 10px 0;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

button[type="button"] {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="button"]:hover {
  background-color: #c82333;
}
