/* CSS for DataForm.js */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import-normalize;

body {
  background-color: #121212; /* Darker background color for the entire page */
  color: #fff; /* Text color */
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #121212; /* Darker background color */
  color: #fff; /* Text color */
  border: 1px solid #ddd;
  border-radius: 5px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-weight: bold;
  color: #fff; /* Label text color */
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #444; /* Input background color */
  color: #fff; /* Input text color */
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  margin: 10px 0;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

button[type="button"] {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="button"]:hover {
  background-color: #c82333;
}

.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff; /* Button color */
  color: #fff; /* Text color */
  text-decoration: none; /* Remove underline */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-link:hover {
  background-color: #0056b3; /* Button color on hover */
}

.success-message {
  background-color: #4caf50;
  color: white;
  padding: 10px;
}
