.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rowC {
  display: flex;
  flex: 1;
  flex-direction: "row";
  justify-content: space-evenly;
}

.links a {
  padding-right: 90px;
}

.MenuOptions{
  background-image: url(Option.jpg);
  background-size:cover;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100px;
  color: rgb(0, 0, 255);
  padding-bottom: 20px;
}

.MainMenuUser{
  background-image: url(MainMenuUser.jpg);
  background-size:cover;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100px;
  color: rgb(255, 255, 0);
  padding-bottom: 20px;
}

.MainMenu{
  background-image: url(MainMenu.jpg);
  background-size:cover;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100px;
  color: rgb(255, 255, 0);
  padding-bottom: 20px;
}

.SubmitArticle {
  background-image: url(SubmitArticle.jpg);
  background-size:cover;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100px;
  color: rgb(255, 255, 0);
  padding-bottom: 20px;
}

.SearchArticle{
  background-image: url(SearchArticle.jpg);
  background-size:cover;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100px;
  color: rgb(255, 255, 0);
  padding-bottom: 20px;
}

.ShowArticleDetails {
  background-color: #2c3e50;
  min-height: 100vh;
  color: white;
}

.UpdateArticleInfo {
  background-color: #2c3e50;
  min-height: 100vh;
  color: white;
}

.ShowArticleList {
  background-image: url(Moderator.jpg);
  background-size:cover;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100px;
  color: rgb(255, 255, 0);
  padding-bottom: 20px;
}

.list {
  display: grid;
  margin: 20px 0 50px 0;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 2em;
}

.tableList {
  display: flex;
  margin: 20px 0 50px 0;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 2em;
  align-items: center;
  justify-content: center;
}

.card-container {
  width: 250px;
  border: 1px solid rgba(0, 0, 0.125);
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  line-height: 0.5;
}

.desc {
  height: 130px;
  padding: 10px;
}

.desc h2 {
  font-size: 1em;
  font-weight: 400;
}

.desc h3,
p {
  font-weight: 300;
}

.desc h3 {
  color: #6c757d;
  font-size: 1em;
  padding: 10px 0 10px 0;
}

#articles {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#articles td, #articles th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  color: black;
}

#articles tr:nth-child(even) {
  background-color: #f2f2f2;
}
#articles tr:nth-child(odd) {
  background-color: #ddd;
}

#articles tr:hover {
  background-color: #bfbfbf;
}

#articles th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #faca3c;
  color: black;
}

.form-group span{
  color: red;
} 