/* components/NavBar.module.css */

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .navList {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navItem {
    margin-bottom: 20px; /* Adjust the spacing between buttons */
  }
  
  .navLink {
    text-decoration: none;
    color: #333; /* Text color for links */
    font-size: 18px; /* Adjust the font size as needed */
  }
  
  .navLink:hover {
    text-decoration: underline; /* Underline links on hover */
  }
  